@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background-color: #fff;
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Mobile Buttons */
.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 15px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
/* Mobile Wrappers */
.page-title,
.advantages__wrapper,
.price__wrapper,
.reviews__wrapper,
.page-footer__wrapper,
.contacts__title-wrapper,
.page-intro__description,
.photos__wrapper,
.editor__description,
.editor__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
/* Mobile — lists */
.site-list,
.platform-list,
.advantages-list,
.contacts__list,
.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Mobile — hovers */
.main-nagivation__logo-link:hover .main-nagivation__logo,
.main-navigation__toggle:hover .main-navigation__toggle-icon {
  fill: #d22856;
}
/* Mobile — actives */
.main-navigation__toggle:active .main-navigation__toggle-icon,
.main-nagivation__logo-link:active .main-nagivation__logo {
  fill: #d22856;
  opacity: 0.3;
}
/* Mobile — transitions */
.main-navigation__toggle-icon,
.main-nagivation__logo,
.page-footer__logo {
  -webkit-transition: fill 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
/* Mobile — page-header */
/* Mobile — main-navigation */
.main-navigation {
  position: relative;
  padding-top: 66px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* Mobile — main-nagivation__logo-link */
.main-nagivation__logo-link {
  position: absolute;
  display: block;
  width: 75px;
  height: 66px;
  margin: 0 auto;
  top: 0;
  left: calc(50% - (280px / 2));
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.main-nagivation__logo-link:active .main-nagivation__logo-mobile {
  fill: #fff;
  opacity: 0.3;
}
/* Mobile — main-nagivation__logo */
.main-nagivation__logo {
  position: absolute;
  width: 75px;
  height: 22px;
  top: calc(50% - (22px / 2));
  left: 0;
}
.main-nagivation__logo-desktop,
.main-nagivation__logo-tablet {
  display: none;
}
/* Mobile — main-navigation__toggle */
.main-navigation__toggle {
  position: absolute;
  width: 50px;
  height: 24px;
  padding: 0;
  top: 21px;
  right: calc(50% - (280px / 2));
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* Mobile — main-navigation__toggle-icon */
/* Mobile — main-navigation__toggle-cross */
.main-navigation__toggle-cross {
  display: none;
}
/* Mobile — site-list */
/* Mobile — site-list__item */
.site-list__item {
  padding: 14px 20px;
  padding-top: 15px;
}
/* Mobile — site-list__link */
.site-list__link {
  display: block;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.site-list__link:hover[href] {
  color: #d22856;
}
.site-list__link:active[href] {
  color: #d22856;
  opacity: 0.3;
}
/* Mobile — page-intro */
.page-intro {
  padding-top: 176px;
  margin-top: -66px;
  background-image: url("../media/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 700px 462px;
}
.page-intro::before {
  display: block;
  content: "";
  width: 320px;
  height: 286px;
  margin: 0 auto;
  background-image: url("../media/img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 258px 286px;
}
.page-intro--inner {
  padding-top: 96px;
}
.page-intro--inner::before {
  display: none;
}
.page-intro--inner .page-intro__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  padding-bottom: 83px;
  background-color: transparent;
}
.page-intro--inner .page-intro__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  color: #fff;
}
/* Mobile — page-intro__wrapper */
.page-intro__wrapper {
  padding: 28px 20px 30px 20px;
  margin: 0 auto;
  background-color: #1d2631;
}
/* Mobile — page-intro__slogan */
.page-intro__slogan {
  display: none;
}
/* Mobile — page-intro__download */
.page-intro__download {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;
  border: 3px solid #fff;
  border-radius: 30px;
}
.page-intro__download:hover {
  color: #d22856;
  background-color: #fff;
}
.page-intro__download:active {
  color: rgba(210, 40, 86, 0.3);
}
/* Mobile — page-intro__list */
.page-intro__list {
  margin-bottom: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Mobile — platform-list */
.platform-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* Mobile — platform-list__item */
.platform-list__item {
  width: 47px;
  height: 56px;
  margin-right: 35px;
}
.platform-list__item:last-child {
  margin-right: 0;
}
.platform-list__item::before {
  display: block;
  content: "";
  width: 47px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
}
.platform-list__item--apple::before {
  background-image: url("../media/svg/apple-logo.svg");
  background-size: 47px 56px;
}
.platform-list__item--android::before {
  background-image: url("../media/svg/android-logo.svg");
  background-size: 43px 47px;
}
.platform-list__item--microsoft::before {
  background-image: url("../media/svg/microsoft-logo.svg");
  background-size: 44px 41px;
}
/* Mobile — page-intro__text */
.page-intro__text {
  width: 280px;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: #fff;
}
/* Mobile — page-intro__description-wrappper */
.page-intro__description-wrappper,
.editor__description-wrapper {
  padding-top: 45px;
  padding-bottom: 49px;
  background-color: #fff;
}
/* Mobile — page-intro__description */
.page-intro__description {
  padding: 0 35px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
/* Mobile — page-title */
.page-title {
  padding-top: 41px;
  margin-bottom: 32px;
}
/* Mobile — page-title__title */
.page-title__title {
  display: block;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
}
.page-title__title--mobile {
  margin-bottom: 29px;
}
/* Mobile — advantages */
.advantages {
  position: relative;
  padding-top: 81px;
  margin-bottom: 42px;
  background-color: #f2f2f2;
  background-size: 100% 100%;
}
.advantages::before {
  display: block;
  position: absolute;
  content: "";
  height: 31px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../media/svg/white-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Mobile — advantages-list */
.advantages-list {
  margin-bottom: 41px;
}
/* Mobile — advantages-list__item */
.advantages-list__item {
  margin-bottom: 31px;
}
.advantages-list__item:last-child {
  margin-bottom: 0;
}
/* Mobile — advantages-list__image-wrapper */
.advantages-list__image-wrapper {
  display: none;
}
/* Mobile — advantages-list__title */
.advantages-list__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  text-align: center;
  color: #000;
}
/* Mobile — advantages-list__description */
.advantages-list__description {
  margin: 0;
  text-align: center;
}
/* Mobile — advantages__image-wrapper */
.advantages__image-wrapper {
  width: 157px;
  height: 277px;
  margin: 0 auto;
  overflow: hidden;
}
/* Mobile — advantages__image */
.advantages__image {
  display: block;
}
/* Mobile — research */
.research {
  display: none;
}
/* Mobile — reviews */
.reviews {
  margin-bottom: 40px;
}
/* Mobile — reviews-input */
#reviews-input-1:checked ~ .slider__toggles .slider__toggle[for="reviews-input-1"],
#reviews-input-2:checked ~ .slider__toggles .slider__toggle[for="reviews-input-2"],
#reviews-input-3:checked ~ .slider__toggles .slider__toggle[for="reviews-input-3"],
#price-input-1:checked ~ .slider__toggles .slider__toggle[for="price-input-1"],
#price-input-2:checked ~ .slider__toggles .slider__toggle[for="price-input-2"],
#price-input-3:checked ~ .slider__toggles .slider__toggle[for="price-input-3"] {
  background-color: #fff;
  border: 3px solid #283645;
}
#reviews-input-1:checked ~ .slider__list .reviews-list__item:nth-child(1),
#reviews-input-2:checked ~ .slider__list .reviews-list__item:nth-child(2),
#reviews-input-3:checked ~ .slider__list .reviews-list__item:nth-child(3) {
  display: block;
}
/* Mobile — reviews-list */
.reviews-list {
  margin-bottom: 33px;
}
/* Mobile — reviews-list__item */
.reviews-list__item {
  display: none;
  margin: 0;
}
/* Mobile — reviews-list__author */
.reviews-list__author {
  display: block;
  margin-bottom: 13px;
  font-style: normal;
  text-align: center;
}
/* Mobile — reviews-list__author-name */
.reviews-list__author-name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}
/* Mobile — reviews-list__author-info */
.reviews-list__author-info {
  display: none;
}
/* Mobile — reviews-list__author-text */
.reviews-list__author-text {
  margin: 0;
  line-height: 30px;
  text-align: center;
}
/* Mobile — reviews-list__previous */
/* Mobile — reviews-list__next */
.reviews-list__previous,
.reviews-list__next {
  display: none;
}
/* Mobile — reviews__toggles */
/* Mobile — slider__toggles */
.slider__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* Mobile — slider__toggle */
.slider__toggle {
  display: block;
  width: 6px;
  height: 6px;
  margin-right: 19px;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.slider__toggle:last-child {
  margin-right: 0;
}
.slider__toggle:hover {
  background-color: rgba(40, 54, 69, 0.6);
}
.slider__toggle:active {
  background-color: rgba(40, 54, 69, 0.1);
}
/* Mobile — price */
.price {
  position: relative;
  padding-top: 94px;
  padding-bottom: 47px;
  background-color: #f2f2f2;
}
.price::before {
  position: absolute;
  content: "";
  height: 31px;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../media/svg/white-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Mobile — price__wrapper */
.price__wrapper {
  width: auto;
  padding: 0;
}
/* Mobile — price-list */
.price-list {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 840px;
  top: 0;
  left: calc(50% - (840px / 2));
  line-height: 30px;
  text-transform: uppercase;
  border-spacing: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
/* Mobile — price-list__item */
.price-list__item:first-child .price-list__head:nth-child(2) {
  border-bottom-left-radius: 4px;
}
.price-list__item:last-child .price-list__field:last-child {
  border-bottom-right-radius: 4px;
}
.price-list__item:last-child .price-list__field:nth-child(2) {
  border-bottom-left-radius: 4px;
  border-left: 2px solid #e5e5e5;
}
/* Mobile — price-list__head */
.price-list__head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 280px;
  padding: 18px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #283645;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.price-list__head:first-child {
  background-color: transparent;
  border-left: none;
  border-right: none;
}
.price-list__head:last-child {
  border-right: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.price-list__head:nth-child(2) {
  border-left: none;
  border-top-left-radius: 4px;
}
.price-list__head--hit {
  position: relative;
}
.price-list__head--hit::before {
  position: absolute;
  content: "";
  width: 73px;
  height: 73px;
  top: 0;
  left: 0;
  background-image: url("../media/svg/hit-icon.svg");
  background-repeat: no-repeat;
}
/* Mobile — price-list__price-tag */
.price-list__price-tag {
  display: block;
  font-size: 24px;
  font-weight: 300;
}
/* Mobile — price-list__body */
/* Mobile — price-list__field */
.price-list__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 320px;
  padding: 15px 20px;
  background-color: #fff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}
.price-list__field:last-child {
  border-right: 2px solid #e5e5e5;
}
.price-list__field::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}
.price-list__field--yes::after {
  width: 31px;
  height: 21px;
  top: calc(50% - (21px / 2));
  right: 17px;
  background-image: url("../media/svg/yes-icon.svg");
}
.price-list__field--no::after {
  width: 27px;
  height: 26px;
  top: calc(50% - (26px / 2));
  right: 20px;
  background-image: url("../media/svg/no-icon.svg");
}
/* Mobile — contacts */
.contacts {
  padding-top: 42px;
}
/* Mobile — contacts__title-wrapper */
.contacts__title-wrapper {
  padding-bottom: 42px;
}
/* Mobile — contacts__title */
.contacts__title {
  display: block;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
}
/* Mobile — contacts__list */
.contacts__list {
  line-height: 1.2;
  text-align: center;
}
/* Mobile — contacts__item */
.contacts__item {
  margin-bottom: 22px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
/* Mobile — contacts__item-title */
.contacts__item-title {
  display: block;
  margin-bottom: 3px;
  font-size: 18px;
}
/* Mobile — contacts__item-link */
.contacts__item-link,
.contacts__item-text {
  display: block;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: #d22856;
}
.contacts__item-link--write {
  -webkit-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.contacts__item-link--write:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #283645;
}
.contacts__item-link:active {
  text-decoration: none;
  color: #283645;
  opacity: 0.3;
}
/* Mobile — contacts__item-text */
.contacts__item-text {
  margin: 0;
}
/* Mobile — contacts__map-wrapper */
.contacts__map-wrapper {
  position: relative;
  width: 100%;
  height: 220px;
  margin: 0;
  background-color: #e5e5e5;
}
.contacts__map-wrapper::before {
  position: absolute;
  content: "";
  height: 52px;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../media/svg/triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Mobile — photos-item */
.photos-item {
  margin-bottom: 20px;
}
.photos-item:last-child {
  margin-bottom: 0;
}
.photos-item--main {
  width: 100%;
  padding: 0;
}
.photos-item--main .photos-item__info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
}
.photos-item--main .photos-item__image-wrapper {
  position: relative;
  width: auto;
  height: auto;
}
.photos-item--main .photos-item__image-wrapper::before {
  position: absolute;
  content: "Панорама дня";
  padding: 6px 20px;
  top: 0;
  right: calc(50% - (140px / 2));
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #d22856;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}
/* Mobile — photos-item__image-wrapper */
.photos-item__image-wrapper {
  width: 280px;
  height: 180px;
  margin: 0;
  background-color: #e5e5e5;
  overflow: hidden;
}
/* Mobile — photos-item__image */
.photos-item__image {
  display: block;
}
/* Mobile — photos-item__info */
.photos-item__info {
  padding: 18px;
  background-color: #f2f2f2;
}
/* Mobile — photos-item__author-name */
.photos-item__author-name {
  display: block;
  font-weight: 700;
  font-style: normal;
}
/* Mobile — photos-item__author-time */
.photos-item__author-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
/* Mobile — photos-item__author-text */
.photos-item__author-text {
  margin: 0;
  margin-bottom: 9px;
}
/* Mobile — photos-item__likes */
.photos-item__likes {
  position: relative;
  display: block;
  padding-left: 32px;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}
.photos-item__likes::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  top: calc(50% - (12px / 2));
  left: 0;
  background-image: url("../media/svg/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* Mobile — editor */
.editor {
  padding-bottom: 41px;
  background-color: #f2f2f2;
}
/* Mobile — editor__description-wrapper */
/* Mobile — editor__description */
.editor__description {
  text-align: center;
}
/* Mobile — editor__wrapper */
.editor__wrapper {
  padding-top: 20px;
}
/* Mobile — editor__image-wrapper */
.editor__image-wrapper {
  width: 280px;
  height: 374px;
  margin: 0;
  margin-bottom: 42px;
  background-color: #e5e5e5;
  overflow: hidden;
}
/* Mobile — editor-tools__toggles */
.editor-tools__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Mobile — editor-tools__toggle */
.editor-tools__toggle {
  display: block;
  margin-right: 34px;
}
.editor-tools__toggle:last-child {
  margin-right: 0;
}
.editor-tools__toggle:hover .editor-tools__toggle-icon {
  fill: rgba(40, 54, 69, 0.5);
}
/* Mobile — editor-tools__toggle-icon */
.editor-tools__toggle-icon {
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}
/* Mobile — editor-tools */
.editor-tools {
  margin-bottom: 67px;
}
/* Mobile — editor-tools__range-wrapper */
.editor-tools__range-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  padding: 0 20px;
  padding-top: 6px;
  height: 14px;
}
/* Mobile — editor-tools__range-label */
.editor-tools__range-label {
  display: none;
}
/* Mobile — editor-tools__range */
.editor-tools__range {
  display: block;
  width: 100%;
  height: 2px;
  margin: 0;
  background-color: #283645;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.editor-tools__range::-webkit-slider-thumb {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 14px;
  height: 14px;
  top: 20px;
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.editor-tools__range::-moz-range-thumb {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
  -moz-appearance: none;
       appearance: none;
  -moz-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.editor-tools__range:active::-webkit-slider-thumb {
  background-color: #d22856;
}
.editor-tools__range:active::-moz-range-thumb {
  background-color: #d22856;
}
.editor-tools__range:focus {
  outline: 1px solid #d22856;
  outline-offset: 6px;
  outline-style: dashed;
}
.editor-tools__range:focus::-webkit-slider-thumb {
  background-color: #d22856;
}
.editor-tools__range:focus::-moz-range-thumb {
  background-color: #d22856;
}
/* Mobile — editor-tools__submit */
/* Mobile — editor-tools__cancel */
.editor-tools__submit,
.editor-tools__cancel {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 3px solid #000;
  border-radius: 30px;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.editor-tools__submit {
  margin-bottom: 12px;
  color: #d22856;
  border-color: #d22856;
}
.editor-tools__submit:hover {
  color: #fff;
  background-color: #d22856;
}
.editor-tools__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d22856;
}
.editor-tools__cancel {
  color: #283645;
  border-color: #283645;
  opacity: 0.1;
}
.editor-tools__cancel:hover {
  color: #283645;
  border-color: #283645;
  opacity: 0.3;
}
.editor-tools__cancel:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #283645;
  border-color: #283645;
  opacity: 0.3;
}
/* Mobile — page-footer */
.page-footer {
  display: none;
}
.page-footer--inner {
  display: block;
  padding: 40px 0;
}
/* Mobile — page-footer__wrapper */
/* Mobile — page-footer__logo-link */
.page-footer__logo-link {
  display: block;
  width: 147px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.page-footer__logo-link:hover .page-footer__logo {
  fill: #d22856;
}
.page-footer__logo-link:active {
  opacity: 0.3;
}
/* Mobile — social-list */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 39px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Mobile — social-list__item */
.social-list__item {
  margin-right: 12px;
}
.social-list__item:last-child {
  margin-right: 0;
}
/* Mobile — social-list__link */
.social-list__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  width: 51px;
  height: 51px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  -webkit-transition: border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.social-list__link:hover {
  border-color: #283645;
}
.social-list__link:active {
  border-color: #283645;
  opacity: 0.1;
}
.social-list__link::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.social-list__link--twitter::before {
  background-image: url("../media/svg/twitter-icon.svg");
}
.social-list__link--facebook::before {
  background-image: url("../media/svg/facebook-icon.svg");
}
.social-list__link--youtube::before {
  background-image: url("../media/svg/youtube-icon.svg");
}
/* Mobile — copyright */
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* Mobile — page-footer__copyright */
.page-footer__copyright {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Mobile — copytight__link */
.copytight__link {
  display: block;
  width: 27px;
  height: 34px;
  margin-left: 15px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.copytight__link:hover .copyright__link-icon {
  fill: #283645;
}
.copytight__link:active {
  opacity: 0.3;
}
/* Mobile — copyright__link-icon */
.copyright__link-icon {
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}
/* Mobile Retina */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* Mobile — page-intro */
  .page-intro {
    background-image: url("../media/img/bg-back-mobile@2x.jpg");
  }
  .page-intro::before {
    background-image: url("../media/img/iphone-hand-mobile@2x.png");
  }
}
/* Mobile Width Only (MWO) */
@media (max-width: 659px) {
  /* MWO — price-input */
  #price-input-1:checked ~ .price-list__wrapper .price-list {
    -webkit-transform: translateX(260px);
            transform: translateX(260px);
  }
  #price-input-2:checked ~ .price-list__wrapper .price-list {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #price-input-3:checked ~ .price-list__wrapper .price-list {
    -webkit-transform: translateX(-260px);
            transform: translateX(-260px);
  }
  /* MWO — price-list__wrapper */
  .price-list__wrapper {
    position: relative;
    height: 282px;
    margin-bottom: 38px;
    overflow: hidden;
  }
  /* MWO — price-list__head */
  .price-list__head:first-child {
    display: none;
  }
  /* MWO — price-list__field */
  .price-list__field:first-child {
    display: none;
  }
  /* MWO — tools-radio */
  #crop-tool-radio:checked ~ .editor-tools__toggles .editor-tools__toggle[for="crop-tool-radio"] .editor-tools__toggle-icon,
  #saturation-tool-radio:checked ~ .editor-tools__toggles .editor-tools__toggle[for="saturation-tool-radio"] .editor-tools__toggle-icon,
  #brightness-tool-radio:checked ~ .editor-tools__toggles .editor-tools__toggle[for="brightness-tool-radio"] .editor-tools__toggle-icon {
    fill: #d22856;
  }
  #crop-tool-radio:checked ~ .editor-tools .editor-tools__range-wrapper:nth-child(1),
  #saturation-tool-radio:checked ~ .editor-tools .editor-tools__range-wrapper:nth-child(2),
  #brightness-tool-radio:checked ~ .editor-tools .editor-tools__range-wrapper:nth-child(3) {
    display: block;
  }
}
/* Tablet */
@media (min-width: 660px) {
  /* Tablet Wrappers */
  .page-title,
  .advantages__wrapper,
  .research__wrapper,
  .reviews__wrapper,
  .price__wrapper,
  .contacts__title-wrapper,
  .page-footer__wrapper,
  .photos__wrapper,
  .editor__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 660px;
    padding: 0 20px;
    margin: 0 auto;
  }
  /* Tablet — main-navigation */
  .main-navigation {
    padding-top: 110px;
    z-index: 1;
  }
  .main-navigation::before {
    top: 109px;
  }
  .main-navigation--opened .main-navigation__toggle {
    right: calc(50% - (598px / 2));
  }
  /* Tablet — main-nagivation__logo-link */
  .main-nagivation__logo-link {
    width: 147px;
    height: 110px;
    left: calc(50% - (620px / 2));
  }
  /* Tablet — main-nagivation__logo */
  .main-nagivation__logo {
    width: 147px;
    height: 40px;
    top: calc(50% - (60px / 2));
  }
  /* Tablet — main-nagivation__logo-tablet */
  .main-nagivation__logo-tablet {
    display: block;
  }
  /* Tablet — main-nagivation__logo-mobile */
  .main-nagivation__logo-mobile {
    display: none;
  }
  /* Tablet — main-navigation__toggle */
  .main-navigation__toggle {
    top: 43px;
    right: calc(50% - (620px / 2));
  }
  /* Tablet — page-intro */
  .page-intro {
    position: relative;
    padding-bottom: 110px;
    margin-top: -110px;
    background-image: url("../media/img/bg-back-tablet@1x.jpg");
    background-size: 1200px 729px;
  }
  .page-intro::before {
    position: absolute;
    width: 660px;
    height: 545px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../media/img/iphone-hand-tablet@1x.png");
    background-size: 700px 545px;
    background-position-x: -20px;
    z-index: 0;
  }
  .page-intro--inner {
    padding-top: 176px;
    padding-bottom: 0;
  }
  .page-intro--inner .page-intro__wrapper {
    width: 660px;
    padding-bottom: 140px;
  }
  .page-intro--inner .page-intro__title {
    font-size: 50px;
  }
  .page-intro--inner .page-intro__description-wrappper {
    padding-top: 92px;
    padding-bottom: 76px;
  }
  .page-intro--inner .page-intro__description {
    width: 660px;
    padding: 0 50px;
    font-size: 18px;
  }
  /* Tablet — page-intro__wrapper */
  .page-intro__wrapper {
    position: relative;
    width: 300px;
    padding: 26px 330px 0 10px;
    background-color: transparent;
  }
  /* Tablet — page-intro__slogan */
  .page-intro__slogan {
    display: block;
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    color: #fff;
  }
  /* Tablet — page-intro__download */
  .page-intro__download {
    width: 300px;
    margin-bottom: 47px;
  }
  /* Tablet — page-intro__text */
  .page-intro__text {
    width: auto;
    margin: 0;
    font-size: 18px;
  }
  /* Tablet — page-intro__list */
  .page-intro__list {
    margin-bottom: 36px;
  }
  /* Tablet — page-title */
  .page-title {
    padding-top: 48px;
    margin-bottom: 48px;
  }
  /* Tablet — page-title__title */
  .page-title__title {
    font-size: 40px;
  }
  .page-title__title--mobile {
    margin-bottom: 0;
  }
  /* Tablet — advantages */
  .advantages {
    padding-top: 4px;
    margin-bottom: 96px;
  }
  .advantages::before {
    height: 50px;
  }
  /* Tablet — advantages__wrapper */
  .advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* Tablet — advantages-list */
  .advantages-list {
    padding-top: 70px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* Tablet — advantages-list__item */
  .advantages-list__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 320px;
    padding-left: 10px;
    margin-bottom: 34px;
  }
  .advantages-list__item:last-child {
    margin-bottom: 0;
  }
  /* Tablet — advantages-list__title */
  .advantages-list__title,
  .advantages-list__description {
    text-align: left;
  }
  /* Tablet — advantages-list__description */
  /* Tablet — advantages__image-wrapper */
  .advantages__image-wrapper {
    position: relative;
    width: 268px;
    height: 480px;
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* Tablet — research */
  .research {
    display: block;
    margin-bottom: 125px;
  }
  /* Tablet — research-item */
  .research-item {
    position: relative;
    padding-left: 310px;
  }
  .research-item::before {
    position: absolute;
    content: "";
    width: 238px;
    height: 276px;
    top: -36px;
    left: 0;
    background-image: url("../media/svg/timer-icon.svg");
    background-repeat: no-repeat;
  }
  /* Tablet — research-item__title */
  .research-item__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    color: #000;
  }
  /* Tablet — research-item__description */
  .research-item__description {
    padding-right: 10px;
    margin: 0;
    margin-bottom: 11px;
  }
  /* Tablet — research-item__link */
  .research-item__link {
    color: #d22856;
    -webkit-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  .research-item__link:hover {
    color: #283645;
  }
  .research-item__link:active {
    opacity: 0.3;
  }
  /* Tablet — reviews */
  .reviews {
    margin-bottom: 22px;
  }
  /* Tablet — reviews-input */
  #reviews-input-1:checked ~ .slider__list .reviews-list__item:nth-child(1),
  #reviews-input-2:checked ~ .slider__list .reviews-list__item:nth-child(2),
  #reviews-input-3:checked ~ .slider__list .reviews-list__item:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* Tablet — reviews-list */
  .reviews-list {
    margin-bottom: 36px;
  }
  /* Tablet — reviews-list__item */
  .reviews-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  /* Tablet — reviews-list__author */
  .reviews-list__author {
    margin-bottom: 0;
  }
  /* Tablet — reviews-list__author-name */
  .reviews-list__author-name {
    font-size: 20px;
  }
  /* Tablet — reviews-list__author-info */
  .reviews-list__author-info {
    display: block;
    line-height: 30px;
  }
  /* Tablet — reviews-list__author-text */
  .reviews-list__author-text {
    margin-bottom: 35px;
    font-size: 18px;
  }
  /* Tablet — price */
  .price {
    padding-top: 85px;
    padding-bottom: 69px;
  }
  .price::before {
    height: 50px;
  }
  /* Tablet — price__wrapper */
  /* Tablet — price-list__wrapper */
  /* Tablet — price-list */
  .price-list {
    position: static;
    width: 100%;
    top: auto;
    left: auto;
  }
  /* Tablet — price-list__header */
  .price-list__header {
    position: relative;
    top: 2px;
    z-index: 1;
  }
  /* Tablet — price-list__body */
  /* Tablet — price-list__item */
  .price-list__item:first-child .price-list__field:first-child {
    border-top: 2px solid #e5e5e5;
    border-top-left-radius: 4px;
  }
  .price-list__item:last-child .price-list__field:first-child {
    border-bottom-left-radius: 4px;
  }
  .price-list__item:last-child .price-list__field:nth-child(2) {
    border-bottom-left-radius: 0;
  }
  .price-list__item .price-list__field:nth-child(2) {
    border-left: 2px solid #e5e5e5;
  }
  /* Tablet — price-list__head */
  .price-list__head {
    min-width: 154px;
    padding-top: 12px;
    padding-bottom: 8px;
    font-size: 16px;
  }
  .price-list__head--hit::before {
    width: 61px;
    height: 61px;
    background-size: 61px 61px;
  }
  /* Tablet — price-list__price-tag */
  .price-list__price-tag {
    font-size: 18px;
  }
  /* Tablet — price-list__field */
  .price-list__field {
    padding: 7px 15px;
    text-transform: none;
  }
  .price-list__field:first-child {
    border-left: 2px solid #e5e5e5;
    border-right: 0;
  }
  .price-list__field::after {
    right: calc(50% - (31px / 2));
  }
  /* Tablet — price-list__field-text */
  .price-list__field-text {
    display: none;
  }
  /* Tablet — price__toggles */
  .price__toggles {
    display: none;
  }
  /* Tablet — contacts */
  .contacts {
    padding-top: 47px;
  }
  /* Tablet — contacts__title-wrapper */
  .contacts__title-wrapper {
    margin-bottom: 32px;
  }
  /* Tablet — contacts__title */
  .contacts__title {
    margin-bottom: 46px;
    font-size: 40px;
  }
  /* Tablet — contacts__list */
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Tablet — contacts__item */
  .contacts__item {
    width: 300px;
    margin-bottom: 50px;
  }
  .contacts__item:first-child {
    margin-right: auto;
  }
  .contacts__item:last-child {
    width: 450px;
    margin-bottom: 0;
  }
  /* Tablet — contacts__map-wrapper */
  .contacts__map-wrapper {
    height: 374px;
  }
  .contacts__map-wrapper::before {
    height: 68px;
  }
  /* Tablet — photos__wrapper */
  .photos__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* Tablet — photos-item */
  .photos-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photos-item:last-child {
    margin-right: 0;
  }
  .photos-item:nth-child(2n) {
    margin-right: 0;
  }
  .photos-item:nth-last-of-type(2) {
    margin-bottom: 0;
  }
  .photos-item--main {
    width: auto;
    margin-bottom: 50px;
  }
  .photos-item--main .photos-item__image-wrapper::before {
    top: 57px;
    -webkit-transform: translateX(241px);
            transform: translateX(241px);
  }
  .photos-item--main .photos-item__info {
    position: relative;
    width: 620px;
  }
  .photos-item--main .photos-item__author-text {
    margin-bottom: 0;
  }
  .photos-item--main .photos-item__likes {
    position: absolute;
    top: 25px;
    right: 27px;
  }
  /* Tablet — photos-item__image-wrapper */
  .photos-item__image-wrapper {
    width: 300px;
    height: 300px;
  }
  /* Tablet — photos-item__info */
  .photos-item__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 23px 27px 25px 27px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  /* Tablet — photos-item__author-text */
  .photos-item__author-text {
    margin-bottom: 12px;
  }
  /* Tablet — photos-item__likes */
  .photos-item__likes {
    padding-left: 0;
    padding-right: 32px;
    margin-top: auto;
  }
  .photos-item__likes::before {
    left: auto;
    right: 5px;
  }
  /* Tablet — editor */
  .editor {
    padding-bottom: 54px;
  }
  /* Tablet — editor__description-wrapper */
  .editor__description-wrapper {
    padding-top: 92px;
    padding-bottom: 76px;
  }
  /* Tablet — editor__description */
  .editor__description {
    width: 660px;
    padding: 0 50px;
    font-size: 18px;
  }
  /* Tablet — editor__wrapper */
  .editor__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 57px;
  }
  /* Tablet — editor__image-wrapper */
  .editor__image-wrapper {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
  }
  /* Tablet — editor-tools__wrapper */
  .editor-tools__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 275px;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Tablet — editor-tools__form */
  .editor-tools__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  /* Tablet — editor-tools__toggles */
  .editor-tools__toggles {
    display: none;
  }
  /* Tablet — editor-tools__range-wrapper */
  .editor-tools__range-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding: 24px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .editor-tools__range-wrapper:first-child {
    padding-top: 19px;
  }
  .editor-tools__range-wrapper::after {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dddfe0;
  }
  .editor-tools__range-wrapper:hover .editor-tools__icon {
    fill: rgba(40, 54, 69, 0.5);
  }
  /* Tablet — editor-tools__range-label */
  .editor-tools__range-label {
    display: block;
    width: 24px;
    height: 22px;
    text-align: center;
  }
  /* Tablet — editor-tools__icon */
  .editor-tools__icon {
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
  }
  .editor-tools__icon--crop {
    width: 22px;
    height: 22px;
  }
  .editor-tools__icon--saturation {
    width: 24px;
    height: 22px;
  }
  .editor-tools__icon--brightness {
    width: 16px;
    height: 22px;
  }
  /* Tablet — editor-tools__range */
  .editor-tools__range {
    width: 202px;
    margin-left: auto;
  }
  .editor-tools__range:focus + .editor-tools__range-label .editor-tools__icon {
    fill: #d22856;
  }
  /* Tablet — editor-tools__buttons-wrapper */
  .editor-tools__buttons-wrapper {
    margin-top: auto;
  }
  /* Tablet — page-footer */
  .page-footer {
    display: block;
    padding-top: 36px;
    padding-bottom: 37px;
  }
  /* Tablet — page-footer__wrapper */
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* Tablet — page-footer__logo-link */
  .page-footer__logo-link {
    margin: 0;
  }
  /* Tablet — page-footer__logo */
  /* Tablet — page-footer__social */
  .page-footer__social {
    margin-left: 74px;
  }
  /* Tablet — social-list */
  .social-list {
    margin: 0;
    margin-left: 74px;
  }
  /* Tablet — social-list__item */
  /* Tablet — social-list__link */
  /* Tablet — copyright */
  /* Tablet — page-footer__copyright */
  .page-footer__copyright {
    margin-left: auto;
  }
  /* Tablet — copytight__link */
  /* Tablet — copyright__link-icon */
  /* Tablet Retina */
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .page-intro {
    background-image: url("../media/img/bg-back-tablet@2x.jpg");
  }
  .page-intro::before {
    background-image: url("../media/img/iphone-hand-tablet@2x.png");
  }
}
/* Mobile and Tablet Width Only (MTWO) */
@media (max-width: 1199px) {
  /* MTWO — main-navigation */
  .main-navigation--closed .site-list__item {
    display: none;
  }
  .main-navigation--opened {
    padding-top: 70px;
    background-color: #283645;
  }
  .main-navigation--opened::before {
    position: absolute;
    content: "";
    height: 1px;
    top: 69px;
    left: 0;
    right: 0;
    background-color: #000;
  }
  .main-navigation--opened .main-navigation__toggle {
    width: 24px;
    right: calc(50% - (256px / 2));
  }
  .main-navigation--opened .main-navigation__toggle-hamburger {
    display: none;
  }
  .main-navigation--opened .main-navigation__toggle-cross {
    display: block;
  }
  .main-navigation--opened .site-list__item {
    display: list-item;
  }
  /* MTWO — site-list__item */
  .site-list__item {
    background-color: #283645;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #000;
  }
}
@media (min-width: 1200px) {
  /* Desktop Wrappers */
  .main-navigation__wrapper,
  .page-intro__wrapper,
  .page-title,
  .advantages__wrapper,
  .research__wrapper,
  .reviews__wrapper,
  .price__wrapper,
  .contacts__title-wrapper,
  .page-footer__wrapper,
  .photos__wrapper,
  .editor__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    padding: 0 130px;
    margin: 0 auto;
  }
  /* Desktop — page-header */
  .page-header {
    min-height: 110px;
  }
  /* Desktop — main-navigation */
  .main-navigation {
    padding-top: 0;
  }
  .main-navigation::before {
    display: none;
  }
  /* Desktop — main-navigation__wrapper */
  .main-navigation__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* Desktop — main-nagivation__logo-link */
  .main-nagivation__logo-link {
    position: relative;
    margin: 0;
    top: auto;
    left: auto;
  }
  /* Desktop — main-nagivation__logo */
  /* Desktop — main-nagivation__logo-tablet */
  .main-nagivation__logo-tablet {
    display: none;
  }
  /* Desktop — main-nagivation__logo-desktop */
  .main-nagivation__logo-desktop {
    display: block;
  }
  /* Desktop — main-navigation__toggle */
  .main-navigation__toggle {
    display: none;
  }
  /* Desktop — site-list */
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* Desktop — site-list__item */
  .site-list__item {
    padding: 0;
    margin-right: 80px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  /* Desktop — site-list__link */
  .site-list__link {
    padding: 10px 0;
    position: relative;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }
  .site-list__link--active::after {
    position: absolute;
    content: "";
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
  }
  /* Desktop — page-intro */
  .page-intro {
    padding-top: 218px;
    padding-bottom: 122px;
    background-image: url("../media/img/bg-back-desktop@1x.jpg");
    background-size: cover;
  }
  .page-intro::before {
    width: 1050px;
    height: 645px;
    background-image: url("../media/img/iphone-hand-desktop@1x.png");
    background-size: 1050px 645px;
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
  }
  .page-intro--inner {
    padding-top: 173px;
    padding-bottom: 0;
  }
  .page-intro--inner .page-intro__wrapper {
    padding-bottom: 101px;
  }
  .page-intro--inner .page-intro__description-wrappper {
    padding-bottom: 88px;
  }
  .page-intro--inner .page-intro__description {
    padding: 0 35px;
  }
  /* Desktop — page-intro__slogan */
  .page-intro__slogan,
  .page-intro__list,
  .page-intro__text {
    width: 300px;
    margin-right: auto;
  }
  .page-intro__slogan {
    margin-bottom: 52px;
    font-size: 50px;
  }
  /* Desktop — page-intro__download */
  .page-intro__download {
    margin-left: 0;
    margin-bottom: 68px;
    font-size: 21px;
  }
  /* Desktop — page-intro__list */
  .page-intro__list {
    margin-bottom: 55px;
  }
  /* Desktop — page-title */
  .page-title {
    padding-top: 67px;
    padding-bottom: 80px;
  }
  /* Desktop — page-title__title */
  .page-title__title {
    font-size: 50px;
  }
  /* Desktop — advantages */
  .advantages {
    padding-top: 0;
    padding-bottom: 79px;
    margin-bottom: 0;
  }
  .advantages::before {
    height: 90px;
  }
  /* Desktop — advantages__wrapper */
  .advantages__wrapper {
    position: relative;
  }
  /* Desktop — advantages-list */
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 0;
    margin-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* Desktop — advantages-list__item */
  .advantages-list__item {
    width: 300px;
    padding-left: 0;
    margin-bottom: 0;
  }
  /* Desktop — advantages-list__image-wrapper */
  .advantages-list__image-wrapper {
    display: block;
    width: 300px;
    height: 302px;
    margin: 0;
    margin-bottom: 50px;
    overflow: hidden;
  }
  /* Desktop — advantages-list__image */
  .advantages-list__image {
    display: block;
    width: auto;
    margin: 0 auto;
  }
  /* Desktop — advantages-list__title */
  .advantages-list__title,
  .advantages-list__description {
    line-height: 30px;
    text-align: center;
  }
  .advantages-list__title {
    margin-bottom: 25px;
    font-size: 30px;
  }
  /* Desktop — advantages-list__description */
  .advantages-list__description {
    padding: 0 30px;
    font-size: 18px;
  }
  /* Desktop — advantages__image-wrapper */
  .advantages__image-wrapper {
    display: none;
  }
  /* Desktop — research */
  .research {
    padding-top: 79px;
    padding-bottom: 112px;
    margin-bottom: 0;
    background-color: #f2f2f2;
  }
  /* Desktop — research-item */
  .research-item {
    padding-left: 366px;
  }
  .research-item::before {
    width: 298px;
    height: 345px;
    top: -94px;
    background-size: 298px 345px;
  }
  /* Desktop — research-item__title */
  .research-item__title,
  .research-item__description,
  .research-item__link {
    line-height: 30px;
  }
  .research-item__title {
    margin-bottom: 26px;
  }
  /* Desktop — research-item__title-break */
  .research-item__title-break {
    display: none;
  }
  /* Desktop — research-item__description */
  .research-item__description {
    margin-bottom: 31px;
    font-size: 18px;
  }
  /* Desktop — research-item__link */
  .research-item__link {
    font-size: 18px;
  }
  /* Desktop — reviews */
  .reviews {
    padding-top: 186px;
    padding-bottom: 41px;
    margin-bottom: 0;
  }
  /* Desktop — reviews__wrapper */
  .reviews__wrapper {
    position: relative;
  }
  .reviews__wrapper::before {
    position: absolute;
    content: "";
    width: 79px;
    height: 63px;
    top: -113px;
    left: calc(50% - (76px / 2));
    background-image: url("../media/svg/quotes-icon.svg");
    background-repeat: no-repeat;
  }
  /* Desktop — reviews-list */
  .reviews-list {
    position: relative;
    margin-bottom: 0;
  }
  /* Desktop — reviews-list__author-name */
  .reviews-list__author-name {
    margin-bottom: 3px;
    font-size: 24px;
  }
  /* Desktop — reviews-list__author-info */
  .reviews-list__author-info {
    font-size: 18px;
  }
  /* Desktop — reviews-list__author-text */
  .reviews-list__author-text {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  /* Desktop — reviews-list__previous */
  /* Desktop — reviews-list__next */
  .reviews-list__previous,
  .reviews-list__next {
    position: absolute;
    display: block;
    width: 22px;
    height: 41px;
    padding: 0;
    top: 28px;
    background-color: transparent;
    background-image: url("../media/svg/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    opacity: 0.3;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
  .reviews-list__previous:hover,
  .reviews-list__next:hover {
    opacity: 0.6;
  }
  .reviews-list__previous:active,
  .reviews-list__next:active {
    opacity: 0.1;
  }
  .reviews-list__previous {
    left: 0;
  }
  .reviews-list__next {
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  /* Desktop — reviews__toggles */
  .reviews__toggles {
    display: none;
  }
  /* Desktop — price */
  .price {
    padding-top: 146px;
    padding-bottom: 92px;
  }
  .price::before {
    height: 81px;
  }
  /* Desktop — price-list__head */
  .price-list__head {
    min-width: 234px;
    padding-top: 16px;
    padding-bottom: 22px;
    font-size: 18px;
  }
  .price-list__head--hit::before {
    width: 74px;
    height: 73px;
    background-size: 74px 73px;
  }
  /* Desktop — price-list__price-tag */
  .price-list__price-tag {
    font-size: 24px;
  }
  /* Desktop — price-list__field */
  .price-list__field {
    padding: 15px 20px;
    font-size: 18px;
  }
  /* Desktop — contacts */
  .contacts {
    padding-top: 64px;
  }
  /* Desktop — contacts__title-wrapper */
  .contacts__title-wrapper {
    padding-bottom: 22px;
  }
  /* Desktop — contacts__title */
  .contacts__title {
    margin-bottom: 57px;
    font-size: 50px;
  }
  /* Desktop — contacts__list */
  .contacts__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* Desktop — contacts__item */
  .contacts__item {
    width: 300px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .contacts__item:first-child {
    margin-right: 0;
  }
  .contacts__item:last-child {
    width: 300px;
  }
  .contacts__item--call {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts__item--write {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .contacts__item--come {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* Desktop — contacts__item-title */
  .contacts__item-title {
    margin-bottom: 24px;
  }
  /* Desktop — contacts__map-wrapper */
  .contacts__map-wrapper {
    height: 502px;
  }
  .contacts__map-wrapper::before {
    height: 103px;
  }
  /* Desktop — photos-item */
  .photos-item {
    margin-bottom: 54px;
  }
  .photos-item:nth-child(2n) {
    margin-right: auto;
  }
  .photos-item:nth-child(3n) {
    margin-right: 0;
  }
  .photos-item:nth-last-of-type(3) {
    margin-bottom: 0;
  }
  .photos-item--main {
    margin-bottom: 50px;
  }
  .photos-item--main .photos-item__image-wrapper::before {
    top: 54px;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  .photos-item--main .photos-item__info {
    width: 940px;
  }
  /* Desktop — photos__wrapper */
  /* Desktop — photos-item__image-wrapper */
  .photos-item__image-wrapper {
    height: 400px;
  }
  /* Desktop — editor */
  .editor {
    padding-bottom: 28px;
    background-color: transparent;
  }
  /* Desktop — editor__description-wrapper */
  .editor__description-wrapper {
    padding-bottom: 88px;
  }
  /* Desktop — editor__wrapper */
  .editor__wrapper {
    width: 940px;
    padding: 57px 60px 57px 80px;
    background-color: #f2f2f2;
  }
  /* Desktop — editor-tools__wrapper */
  .editor-tools__wrapper {
    width: 410px;
  }
  /* Desktop — editor-tools__range-wrapper */
  .editor-tools__range-wrapper {
    padding: 13px 0;
  }
  .editor-tools__range-wrapper:first-child {
    padding-top: 0;
  }
  /* Desktop — editor-tools__range */
  .editor-tools__range {
    width: 288px;
  }
  /* Desktop — editor-tools__range-label */
  .editor-tools__range-label {
    width: 48px;
    height: 44px;
  }
  /* Desktop — editor-tools__icon */
  .editor-tools__icon {
    height: 44px;
  }
  .editor-tools__icon--crop {
    width: 44px;
  }
  .editor-tools__icon--saturation {
    width: 48px;
  }
  .editor-tools__icon--brightness {
    width: 32px;
  }
  /* Desktop — editor-tools__buttons-wrapper */
  .editor-tools__buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* Desktop — editor-tools__submit */
  .editor-tools__submit,
  .editor-tools__cancel {
    width: 183px;
  }
  .editor-tools__submit {
    margin-bottom: 0;
  }
  /* Desktop — page-footer */
  .page-footer {
    padding-top: 65px;
    padding-bottom: 78px;
  }
  /* Desktop — page-footer__wrapper */
  /* Desktop — page-footer__logo-tablet */
  .page-footer__logo-tablet {
    display: none;
  }
  /* Desktop — page-footer__logo-desktop */
  .page-footer__logo-desktop {
    display: block;
  }
  /* Desktop — page-footer__social */
  .page-footer__social {
    margin-left: 235px;
  }
  /* Desktop — copyright */
  .copyright {
    font-size: 18px;
  }
  /* Desktop Retina */
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-intro {
    background-image: url("../media/img/bg-back-desktop@2x.jpg");
  }
}
/* IE 11 Mobile */
@media (min-width: 320px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE 11 Mobile — editor-tools__range */
  .editor-tools__range {
    height: 14px;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  .editor-tools__range::-ms-thumb {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;
  }
  .editor-tools__range::-ms-track {
    height: 0;
    color: transparent;
    background-color: #283645;
    border-color: transparent;
  }
  .editor-tools__range::-ms-fill-upper {
    background-color: transparent;
  }
  .editor-tools__range::-ms-fill-lower {
    background-color: transparent;
  }
  .editor-tools__range:active::-ms-thumb {
    background-color: #d22856;
  }
  .editor-tools__range:focus {
    outline: 1px solid #d22856;
    outline-offset: 10px;
    outline-style: dashed;
  }
  .editor-tools__range:focus::-ms-thumb {
    background-color: #d22856;
  }
}
/* IE 11 Tablet */
@media (min-width: 660px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE 11 Tablet — editor-tools__range */
  .editor-tools__range {
    margin-left: auto;
  }
}
