@desktop-width: 1200px;
@mobile-and-tablet-width-only: 1199px;
@tablet-width: 660px;
@mobile-width-only: 659px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@font-bold: 700;
@font-regular: 400;
@font-light: 300;

@font-face {
  font-family: "Open Sans";
  font-weight: @font-bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: @font-regular;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: @font-light;
  font-style: normal;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
}

body {
  padding: 0;
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;

  background-color: #fff;
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mobile Buttons */
.button {
  box-sizing: border-box;
  display: block;
  padding: 15px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: @font-bold;
  text-decoration: none;
  text-align: center;
  color: #fff;

  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* Mobile Wrappers */
.page-title,
.advantages__wrapper,
.price__wrapper,
.reviews__wrapper,
.contacts__title-wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Mobile — lists */
.site-list,
.platform-list,
.advantages-list,
.contacts__list,
.social-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* Mobile — hovers */
.main-nagivation__logo-link:hover .main-nagivation__logo,
.main-navigation__toggle:hover .main-navigation__toggle-icon {
  fill: #d22856;
}

/* Mobile — actives */
.main-navigation__toggle:active .main-navigation__toggle-icon,
.main-nagivation__logo-link:active .main-nagivation__logo {
  fill: #d22856;

  opacity: 0.3;
}

/* Mobile — transitions */
.main-navigation__toggle-icon,
.main-nagivation__logo,
.page-footer__logo-text {
  transition: fill 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Mobile — page-header */
.page-header {
}

/* Mobile — main-navigation */
.main-navigation {
  position: relative;
  padding-top: 66px;

  background-color: rgba(0, 0, 0, 0.3);
}

/* Mobile — main-nagivation__logo-link */
.main-nagivation__logo-link {
  position: absolute;
  display: block;
  width: 75px;
  height: 66px;
  margin: 0 auto;

  top: 0;
  left: calc(50% - (280px / 2));

  transition: opacity 0.2s ease-in-out;

  &:active {
    .main-nagivation__logo-mobile {
      fill: #fff;

      opacity: 0.3;
    }
  }
}

/* Mobile — main-nagivation__logo */
.main-nagivation__logo {
  position: absolute;
  width: 75px;
  height: 22px;

  top: calc(50% - (22px / 2));
  left: 0;
}
.main-nagivation__logo-desktop,
.main-nagivation__logo-tablet {
  display: none;
}
.main-nagivation__logo-mobile {
}

/* Mobile — main-navigation__toggle */
.main-navigation__toggle {
  position: absolute;
  width: 50px;
  height: 24px;
  padding: 0;

  top: 21px;
  right: calc(50% - (280px / 2));

  background-color: transparent;
  border: none;

  cursor: pointer;
}

/* Mobile — main-navigation__toggle-icon */
.main-navigation__toggle-icon {
}

/* Mobile — main-navigation__toggle-cross */
.main-navigation__toggle-cross {
  display: none;
}

/* Mobile — site-list */
.site-list {
}

/* Mobile — site-list__item */
.site-list__item {
  padding: 14px 20px;
  padding-top: 15px;
}

/* Mobile — site-list__link */
.site-list__link {
  display: block;

  font-size: 18px;
  line-height: 32px;
  font-weight: @font-bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;

  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &:hover[href] {
    color: #d22856;
  }
  &:active[href] {
    color: #d22856;

    opacity: 0.3;
  }
}

/* Mobile — page-intro */
.page-intro {
  padding-top: 176px;
  margin-top: -66px;

  background-image: url("../media/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 700px 462px;

  &::before {
    display: block;
    content: "";
    width: 320px;
    height: 286px;
    // padding-right: 65px;
    margin: 0 auto;

    // left: calc(50% - (320px / 2));
    // bottom: 0;

    background-image: url("../media/img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 258px 286px;
  }
}

/* Mobile — page-intro__wrapper */
.page-intro__wrapper {
  padding: 28px 20px 30px 20px;
  margin: 0 auto;

  background-color: #1d2631;
}

/* Mobile — page-intro__slogan */
.page-intro__slogan {
  display: none;
}

/* Mobile — page-intro__download */
.page-intro__download {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;

  border: 3px solid #fff;
  border-radius: 30px;

  &:hover {
    color: #d22856;

    background-color: #fff;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

/* Mobile — page-intro__list */
.page-intro__list {
  margin-bottom: 23px;

  justify-content: center;
}

/* Mobile — platform-list */
.platform-list {
  display: flex;
  align-items: center;
}

/* Mobile — platform-list__item */
.platform-list__item {
  width: 47px;
  height: 56px;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
  &::before {
    display: block;
    content: "";
    width: 47px;
    height: 56px;

    background-repeat: no-repeat;
    background-position: center;
  }
  &--apple::before {
    background-image: url("../media/svg/apple-logo.svg");
    background-size: 47px 56px;
  }
  &--android::before {
    background-image: url("../media/svg/android-logo.svg");
    background-size: 43px 47px;
  }
  &--microsoft::before {
    background-image: url("../media/svg/microsoft-logo.svg");
    background-size: 44px 41px;
  }
}

/* Mobile — page-intro__text */
.page-intro__text {
  width: 280px;
  margin: 0 auto;

  font-weight: @font-light;
  text-align: center;
  color: #fff;
}

/* Mobile — page-title */
.page-title {
  padding-top: 41px;
  // padding-bottom: 32px;
  margin-bottom: 32px;
}

/* Mobile — page-title__title */
.page-title__title {
  display: block;

  font-size: 24px;
  line-height: 1.2;
  font-weight: @font-light;
  text-align: center;

  &--mobile {
    margin-bottom: 29px;
  }
}

/* Mobile — advantages */
.advantages {
  position: relative;
  padding-top: 81px;
  margin-bottom: 42px;

  background-color: #f2f2f2;
  background-size: 100% 100%;

  &::before {
    display: block;
    position: absolute;
    content: "";
    height: 31px;
    margin: 0 auto;

    top: 0;
    left: 0;
    right: 0;

    background-image: url("../media/svg/white-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

/* Mobile — advantages-list */
.advantages-list {
  margin-bottom: 41px;
}

/* Mobile — advantages-list__item */
.advantages-list__item {
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Mobile — advantages-list__image-wrapper */
.advantages-list__image-wrapper {
  display: none;
}

/* Mobile — advantages-list__title */
.advantages-list__title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 18px;
  text-align: center;
  color: #000;
}

/* Mobile — advantages-list__description */
.advantages-list__description {
  margin: 0;

  text-align: center;
}

/* Mobile — advantages__image-wrapper */
.advantages__image-wrapper {
  width: 157px;
  height: 277px;
  margin: 0 auto;

  overflow: hidden;
}

/* Mobile — advantages__image */
.advantages__image {
  display: block;
}

/* Mobile — research */
.research {
  display: none;
}

/* Mobile — reviews */
.reviews {
  margin-bottom: 40px;
}

/* Mobile — reviews-input */
#reviews-input-1:checked ~ .slider__toggles .slider__toggle[for="reviews-input-1"],
#reviews-input-2:checked ~ .slider__toggles .slider__toggle[for="reviews-input-2"],
#reviews-input-3:checked ~ .slider__toggles .slider__toggle[for="reviews-input-3"],
#price-input-1:checked ~ .slider__toggles .slider__toggle[for="price-input-1"],
#price-input-2:checked ~ .slider__toggles .slider__toggle[for="price-input-2"],
#price-input-3:checked ~ .slider__toggles .slider__toggle[for="price-input-3"] {
  background-color: #fff;
  border: 3px solid #283645;
}
#reviews-input-1:checked ~ .slider__list .reviews-list__item:nth-child(1),
#reviews-input-2:checked ~ .slider__list .reviews-list__item:nth-child(2),
#reviews-input-3:checked ~ .slider__list .reviews-list__item:nth-child(3) {
  display: block;
}

/* Mobile — reviews-list */
.reviews-list {
  margin-bottom: 33px;
}

/* Mobile — reviews-list__item */
.reviews-list__item {
  display: none;
  margin: 0;
}

/* Mobile — reviews-list__author */
.reviews-list__author {
  display: block;
  margin-bottom: 13px;

  font-style: normal;
  text-align: center;
}

/* Mobile — reviews-list__author-name */
.reviews-list__author-name {
  display: block;

  font-size: 18px;
  line-height: 30px;
  color: #000;
}

/* Mobile — reviews-list__author-info */
.reviews-list__author-info {
  display: none;
}

/* Mobile — reviews-list__author-text */
.reviews-list__author-text {
  margin: 0;

  line-height: 30px;
  text-align: center;
}

/* Mobile — reviews-list__previous */
/* Mobile — reviews-list__next */
.reviews-list__previous,
.reviews-list__next {
  display: none;
}

/* Mobile — reviews__toggles */
.reviews__toggles {
}

/* Mobile — slider__toggles */
.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile — slider__toggle */
.slider__toggle {
  display: block;
  width: 6px;
  height: 6px;
  margin-right: 19px;

  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }
  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

/* Mobile — price */
.price {
  position: relative;
  padding-top: 94px;
  padding-bottom: 47px;

  background-color: #f2f2f2;

  &::before {
    position: absolute;
    content: "";
    height: 31px;

    top: 0;
    left: 0;
    right: 0;

    background-image: url("../media/svg/white-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

/* Mobile — price__wrapper */
.price__wrapper {
  width: auto;
  padding: 0;
}

/* Mobile — price-list */
.price-list {
  position: absolute;
  box-sizing: border-box;
  width: 840px;

  top: 0;
  left: calc(50% - (840px / 2));

  line-height: 30px;
  text-transform: uppercase;

  border-spacing: 0;

  transition: transform 0.2s ease-in-out;
}

/* Mobile — price-list__item */
.price-list__item {
  &:first-child {
    .price-list__head {
      &:nth-child(2) {
        border-bottom-left-radius: 4px;
      }
    }
  }
  &:last-child {
    .price-list__field {
      &:last-child {
        border-bottom-right-radius: 4px;
      }
      &:nth-child(2) {
        border-bottom-left-radius: 4px;
        border-left: 2px solid #e5e5e5;
      }
    }
  }
}

/* Mobile — price-list__head */
.price-list__head {
  box-sizing: border-box;
  min-width: 280px;
  padding: 18px 20px;

  font-size: 18px;
  color: #fff;

  background-color: #283645;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;

  &:first-child {
    background-color: transparent;
    border-left: none;
    border-right: none;
  }
  &:last-child {
    border-right: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &:nth-child(2) {
    border-left: none;

    border-top-left-radius: 4px;
  }
  &--hit {
    position: relative;

    &::before {
      position: absolute;
      content: "";

      width: 73px;
      height: 73px;

      top: 0;
      left: 0;

      background-image: url("../media/svg/hit-icon.svg");
      background-repeat: no-repeat;
    }
  }
}

/* Mobile — price-list__price-tag */
.price-list__price-tag {
  display: block;

  font-size: 24px;
  font-weight: @font-light;
}

/* Mobile — price-list__body */
.price-list__body {
}

/* Mobile — price-list__field */
.price-list__field {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  padding: 15px 20px;

  background-color: #fff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;

  &:last-child {
    border-right: 2px solid #e5e5e5;
  }
  &::after {
    position: absolute;
    content: "";

    background-repeat: no-repeat;
  }
  &--yes::after {
    width: 31px;
    height: 21px;

    top: calc(50% - (21px / 2));
    right: 17px;

    background-image: url("../media/svg/yes-icon.svg");
  }
  &--no::after {
    width: 27px;
    height: 26px;

    top: calc(50% - (26px / 2));
    right: 20px;

    background-image: url("../media/svg/no-icon.svg");
  }
}

/* Mobile — contacts */
.contacts {
  padding-top: 42px;
}

/* Mobile — contacts__title-wrapper */
.contacts__title-wrapper {
  padding-bottom: 42px;
}

/* Mobile — contacts__title */
.contacts__title {
  display: block;
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 1.2;
  font-weight: @font-light;
  text-align: center;
}

/* Mobile — contacts__list */
.contacts__list {
  line-height: 1.2;
  text-align: center;
}

/* Mobile — contacts__item */
.contacts__item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Mobile — contacts__item-title */
.contacts__item-title {
  display: block;
  margin-bottom: 3px;

  font-size: 18px;
}

/* Mobile — contacts__item-link */
.contacts__item-link,
.contacts__item-text {
  display: block;

  font-size: 24px;
  font-weight: @font-light;
  text-decoration: none;
  color: #d22856;
}
.contacts__item-link {
  &--write {
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    

    &:hover {
      text-decoration: underline;
      color: #283645;
      animation: strike 0.2s ease-in-out ;
    }
    &:active {
      text-decoration: none;
      color: #283645;
      opacity: 0.3;
    }
  }

  @keyframes strike {
    0% {
      text-decoration-color: transparent;
    }
    100% {
      text-decoration-color: auto;
    }
  }
}

/* Mobile — contacts__item-text */
.contacts__item-text {
  margin: 0;
}

/* Mobile — contacts__map-wrapper */
.contacts__map-wrapper {
  position: relative;
  width: 100%;
  height: 220px;
  margin: 0;

  background-color: #e5e5e5;

  &::before {
    position: absolute;
    content: "";
    height: 52px;

    top: 0;
    left: 0;
    right: 0;

    background-image: url("../media/svg/triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

/* Mobile — page-footer */
.page-footer {
  display: none;
}

/* Mobile Retina */
@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  /* Mobile — page-intro */
  .page-intro {
    background-image: url("../media/img/bg-back-mobile@2x.jpg");

    &::before {
      background-image: url("../media/img/iphone-hand-mobile@2x.png");
    }
  }
}

/* Mobile Width Only (MWO) */
@media (max-width: @mobile-width-only) {
  /* MWO — price-input */
  #price-input-1:checked ~ .price-list__wrapper .price-list {
    transform: translateX(260px);
  }
  #price-input-2:checked ~ .price-list__wrapper .price-list {
    transform: translateX(0);
  }
  #price-input-3:checked ~ .price-list__wrapper .price-list {
    transform: translateX(-260px);
  }

  /* MWO — price-list__wrapper */
  .price-list__wrapper {
    position: relative;
    height: 282px;
    margin-bottom: 38px;

    overflow: hidden;
  }

  /* MWO — price-list__head */
  .price-list__head {
    &:first-child {
      display: none;
    }
  }

  /* MWO — price-list__field */
  .price-list__field {
    &:first-child {
      display: none;
    }
  }
}

/* Tablet */
@media (min-width: @tablet-width) {
  /* Tablet Wrappers */
  .page-title,
  .advantages__wrapper,
  .research__wrapper,
  .reviews__wrapper,
  .price__wrapper,
  .contacts__title-wrapper,
  .page-footer__wrapper {
    box-sizing: border-box;
    width: 660px;
    padding: 0 20px;
    margin: 0 auto;
  }

  /* Tablet — main-navigation */
  .main-navigation {
    padding-top: 110px;

    z-index: 1;

    &::before {
      top: 109px;
    }
    &--opened {
      .main-navigation__toggle {
        right: calc(50% - (598px / 2));
      }
    }
  }

  /* Tablet — main-nagivation__logo-link */
  .main-nagivation__logo-link {
    width: 147px;
    height: 110px;

    left: calc(50% - (620px / 2));
  }

  /* Tablet — main-nagivation__logo */
  .main-nagivation__logo {
    width: 147px;
    height: 40px;

    top: calc(50% - (60px / 2));
  }

  /* Tablet — main-nagivation__logo-tablet */
  .main-nagivation__logo-tablet {
    display: block;
  }

  /* Tablet — main-nagivation__logo-mobile */
  .main-nagivation__logo-mobile {
    display: none;
  }

  /* Tablet — main-navigation__toggle */
  .main-navigation__toggle {
    top: 43px;
    right: calc(50% - (620px / 2));
  }

  /* Tablet — page-intro */
  .page-intro {
    position: relative;
    padding-bottom: 110px;
    margin-top: -110px;

    background-image: url("../media/img/bg-back-tablet@1x.jpg");
    background-size: 1200px 729px;

    &::before {
      position: absolute;
      width: 660px;
      height: 545px;

      bottom: 0;
      left: 0;
      right: 0;

      background-image: url("../media/img/iphone-hand-tablet@1x.png");
      background-size: 700px 545px;
      background-position-x: -20px;

      z-index: 0;
    }
  }

  /* Tablet — page-intro__wrapper */
  .page-intro__wrapper {
    position: relative;
    width: 300px;
    padding: 26px 330px 0 10px;

    background-color: transparent;
  }

  /* Tablet — page-intro__slogan */
  .page-intro__slogan {
    display: block;
    margin-bottom: 32px;

    font-size: 40px;
    line-height: 1.2;
    font-weight: @font-light;
    text-align: center;
    color: #fff;
  }

  /* Tablet — page-intro__download */
  .page-intro__download {
    width: 300px;
    margin-bottom: 47px;
  }

  /* Tablet — page-intro__text */
  .page-intro__text {
    width: auto;
    margin: 0;

    font-size: 18px;
  }

  /* Tablet — page-intro__list */
  .page-intro__list {
    margin-bottom: 36px;
  }

  /* Tablet — page-title */
  .page-title {
    padding-top: 48px;
    margin-bottom: 48px;
  }

  /* Tablet — page-title__title */
  .page-title__title {
    font-size: 40px;

    &--mobile {
      margin-bottom: 0;
    }
  }

  /* Tablet — advantages */
  .advantages {
    padding-top: 4px;
    margin-bottom: 96px;

    &::before {
      height: 50px;
    }
  }

  /* Tablet — advantages__wrapper */
  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
  }

  /* Tablet — advantages-list */
  .advantages-list {
    padding-top: 70px;

    order: 2;
  }

  /* Tablet — advantages-list__item */
  .advantages-list__item {
    box-sizing: border-box;
    width: 320px;
    padding-left: 10px;
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* Tablet — advantages-list__title */
  .advantages-list__title,
  .advantages-list__description {
    text-align: left;
  }

  /* Tablet — advantages-list__description */
  .advantages-list__description {
  }

  /* Tablet — advantages__image-wrapper */
  .advantages__image-wrapper {
    position: relative;
    width: 268px;
    height: 480px;
    margin: 0;

    order: 1;
  }

  /* Tablet — research */
  .research {
    display: block;
    // padding-top: 96px;
    margin-bottom: 125px;
  }

  /* Tablet — research-item */
  .research-item {
    position: relative;
    padding-left: 310px;

    &::before {
      position: absolute;
      content: "";

      width: 238px;
      height: 276px;

      top: -36px;
      left: 0;

      background-image: url("../media/svg/timer-icon.svg");
      background-repeat: no-repeat;
    }
  }

  /* Tablet — research-item__title */
  .research-item__title {
    margin: 0;
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 36px;
  }

  /* Tablet — research-item__description */
  .research-item__description {
    padding-right: 10px;
    margin: 0;
    margin-bottom: 11px;
  }

  /* Tablet — research-item__link */
  .research-item__link {
    color: #d22856;

    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &:hover {
      color: #283645;
    }
    &:active {
      opacity: 0.3;
    }
  }

  /* Tablet — reviews */
  .reviews {
    margin-bottom: 22px;
  }

  /* Tablet — reviews-input */
  #reviews-input-1:checked ~ .slider__list .reviews-list__item:nth-child(1),
  #reviews-input-2:checked ~ .slider__list .reviews-list__item:nth-child(2),
  #reviews-input-3:checked ~ .slider__list .reviews-list__item:nth-child(3) {
    display: flex;
  }

  /* Tablet — reviews-list */
  .reviews-list {
    margin-bottom: 36px;
  }

  /* Tablet — reviews-list__item */
  .reviews-list__item {
    flex-direction: column-reverse;
  }

  /* Tablet — reviews-list__author */
  .reviews-list__author {
    margin-bottom: 0;
  }

  /* Tablet — reviews-list__author-name */
  .reviews-list__author-name {
    font-size: 20px;
  }

  /* Tablet — reviews-list__author-info */
  .reviews-list__author-info {
    display: block;

    line-height: 30px;
  }

  /* Tablet — reviews-list__author-text */
  .reviews-list__author-text {
    margin-bottom: 35px;

    font-size: 18px;
  }

  /* Tablet — price */
  .price {
    padding-top: 85px;
    padding-bottom: 69px;

    &::before {
      height: 50px;
    }
  }

  /* Tablet — price__wrapper */
  .price__wrapper {
  }

  /* Tablet — price-list__wrapper */
  .price-list__wrapper {
  }

  /* Tablet — price-list */
  .price-list {
    position: static;
    width: 100%;

    top: auto;
    left: auto;
  }

  /* Tablet — price-list__header */
  .price-list__header {
    position: relative;
    top: 2px;

    z-index: 1;
  }

  /* Tablet — price-list__body */
  .price-list__body {
  }

  /* Tablet — price-list__item */
  .price-list__item {
    &:first-child {
      .price-list__field {
        &:first-child {
          border-top: 2px solid #e5e5e5;
          border-top-left-radius: 4px;
        }
      }
    }
    &:last-child {
      .price-list__field {
        &:first-child {
          border-bottom-left-radius: 4px;
        }
      }
      .price-list__field:nth-child(2) {
        border-bottom-left-radius: 0;
      }
    }
    .price-list__field:nth-child(2) {
      border-left: 2px solid #e5e5e5;
    }
  }

  /* Tablet — price-list__head */
  .price-list__head {
    min-width: 154px;
    padding-top: 12px;
    padding-bottom: 8px;

    font-size: 16px;

    &--hit::before {
      width: 61px;
      height: 61px;

      background-size: 61px 61px;
    }
  }

  /* Tablet — price-list__price-tag */
  .price-list__price-tag {
    font-size: 18px;
  }

  /* Tablet — price-list__field */
  .price-list__field {
    padding: 7px 15px;

    text-transform: none;

    &:first-child {
      border-left: 2px solid #e5e5e5;
      border-right: 0;
    }
    &::after {
      right: calc(50% - (31px / 2));
    }
  }

  /* Tablet — price-list__field-text */
  .price-list__field-text {
    display: none;
  }

  /* Tablet — price__toggles */
  .price__toggles {
    display: none;
  }

  /* Tablet — contacts */
  .contacts {
    padding-top: 47px;
  }

  /* Tablet — contacts__title-wrapper */
  .contacts__title-wrapper {
    margin-bottom: 32px;
  }

  /* Tablet — contacts__title */
  .contacts__title {
    margin-bottom: 46px;

    font-size: 40px;
  }

  /* Tablet — contacts__list */
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Tablet — contacts__item */
  .contacts__item {
    width: 300px;
    margin-bottom: 50px;

    &:first-child {
      margin-right: auto;
    }
    &:last-child {
      width: 450px;
      margin-bottom: 0;
    }
  }

  /* Tablet — contacts__map-wrapper */
  .contacts__map-wrapper {
    height: 374px;

    &::before {
      height: 68px;
    }
  }

  /* Tablet — page-footer */
  .page-footer {
    display: block;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  /* Tablet — page-footer__wrapper */
  .page-footer__wrapper {
    display: flex;
    align-items: center;
  }

  /* Tablet — page-footer__logo-link */
  .page-footer__logo-link {
    display: block;
    width: 147px;
    height: 40px;

    transition: opacity 0.2s ease-in-out;

    &:hover {
      .page-footer__logo-text {
        fill: #d22856;
      }
    }
    &:active {
      opacity: 0.3;
    }
  }

  /* Tablet — page-footer__logo */
  .page-footer__logo {
  }

  /* Tablet — page-footer__social */
  .page-footer__social {
    margin-left: 74px;
  }

  /* Tablet — social-list */
  .social-list {
    display: flex;
  }

  /* Tablet — social-list__item */
  .social-list__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  /* Tablet — social-list__link */
  .social-list__link {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 51px;
    height: 51px;

    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 50%;

    transition: border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &:hover {
      border-color: rgba(40, 54, 69, 1);
    }
    &:active {
      border-color: rgba(40, 54, 69, 1);

      opacity: 0.1;
    }
    &::before {
      position: absolute;
      content: "";

      width: 45px;
      height: 45px;

      top: 0;
      left: 0;

      background-repeat: no-repeat;
      background-position: center;
    }
    &--twitter::before {
      background-image: url("../media/svg/twitter-icon.svg");
    }
    &--facebook::before {
      background-image: url("../media/svg/facebook-icon.svg");
    }
    &--youtube::before {
      background-image: url("../media/svg/youtube-icon.svg");
    }
  }

  /* Tablet — social-list__link-icon */
  .social-list__link-icon {
    position: absolute;

    &--twitter {
      top: calc(50% - (14px / 2));
      left: calc(50% - (18px / 2));
    }
    &--facebook {
      top: calc(50% - (20px / 2));
      left: calc(50% - (10px / 2));
    }
    &--youtube {
      top: calc(50% - (14px / 2));
      left: calc(50% - (14px / 2));
    }
  }

  /* Tablet — copyright */
  .copyright {
    display: flex;
    margin: 0;

    align-items: center;
  }

  /* Tablet — page-footer__copyright */
  .page-footer__copyright {
    margin-left: auto;
  }

  /* Tablet — copytight__link */
  .copytight__link {
    display: block;
    width: 27px;
    height: 34px;
    margin-left: 15px;

    transition: opacity 0.2s ease-in-out;

    &:hover {
      .copyright__link-icon {
        fill: #283645;
      }
    }
    &:active {
      opacity: 0.3;
    }
  }

  /* Tablet — copyright__link-icon */
  .copyright__link-icon {
    transition: fill 0.2s ease-in-out;
  }

  /* Tablet Retina */
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .page-intro {
      background-image: url("../media/img/bg-back-tablet@2x.jpg");

      &::before {
        background-image: url("../media/img/iphone-hand-tablet@2x.png");
      }
    }
  }
}

/* Mobile and Tablet Width Only (MTWO) */
@media (max-width: @mobile-and-tablet-width-only) {
  /* MTWO — main-navigation */
  .main-navigation {
    &--closed {
      .site-list__item {
        display: none;
      }
    }
    &--opened {
      padding-top: 70px;

      background-color: #283645;

      &::before {
        position: absolute;
        content: "";
        height: 1px;

        top: 69px;
        left: 0;
        right: 0;

        background-color: #000;
      }
      .main-navigation__toggle {
        width: 24px;

        right: calc(50% - (256px / 2));
      }
      .main-navigation__toggle-hamburger {
        display: none;
      }
      .main-navigation__toggle-cross {
        display: block;
      }
      .site-list__item {
        display: list-item;
      }
    }
  }

  /* MTWO — site-list__item */
  .site-list__item {
    background-color: #283645;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #000;
  }
}

@media (min-width: @desktop-width) {
  /* Desktop Wrappers */
  .main-navigation__wrapper,
  .page-intro__wrapper,
  .page-title,
  .advantages__wrapper,
  .research__wrapper,
  .reviews__wrapper,
  .price__wrapper,
  .contacts__title-wrapper,
  .page-footer__wrapper {
    box-sizing: border-box;
    width: 1200px;
    padding: 0 130px;
    margin: 0 auto;
  }

  /* Desktop — page-header */
  .page-header {
    min-height: 110px;
  }

  /* Desktop — main-navigation */
  .main-navigation {
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  /* Desktop — main-navigation__wrapper */
  .main-navigation__wrapper {
    display: flex;
    justify-content: space-between;
  }

  /* Desktop — main-nagivation__logo-link */
  .main-nagivation__logo-link {
    position: relative;
    margin: 0;

    top: auto;
    left: auto;
  }

  /* Desktop — main-nagivation__logo */
  .main-nagivation__logo {
    // position: static;
  }

  /* Desktop — main-nagivation__logo-tablet */
  .main-nagivation__logo-tablet {
    display: none;
  }

  /* Desktop — main-nagivation__logo-desktop */
  .main-nagivation__logo-desktop {
    display: block;
  }

  /* Desktop — main-navigation__toggle */
  .main-navigation__toggle {
    display: none;
  }

  /* Desktop — site-list */
  .site-list {
    display: flex;
    align-items: center;
  }

  /* Desktop — site-list__item */
  .site-list__item {
    padding: 0;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  /* Desktop — site-list__link */
  .site-list__link {
    padding: 10px 0;

    position: relative;
    line-height: 18px;
    font-weight: @font-regular;
    text-transform: none;

    &--active::after {
      position: absolute;
      content: "";
      height: 2px;

      left: 0;
      right: 0;
      bottom: 0;

      background-color: #fff;
    }
  }

  /* Desktop — page-intro */
  .page-intro {
    padding-top: 218px;
    padding-bottom: 122px;

    background-image: url("../media/img/bg-back-desktop@1x.jpg");
    background-size: 2560px 853px;

    &::before {
      width: 1050px;
      height: 645px;

      left: auto;
      right: -16px;

      background-image: url("../media/img/iphone-hand-desktop@1x.png");
      background-size: 1050px 645px;
    }
  }

  /* Desktop — page-intro__slogan */
  .page-intro__slogan,
  .page-intro__list,
  .page-intro__text {
    width: 300px;
    margin-right: auto;
  }
  .page-intro__slogan {
    margin-bottom: 52px;

    font-size: 50px;
  }

  /* Desktop — page-intro__download */
  .page-intro__download {
    margin-left: 0;
    margin-bottom: 68px;

    font-size: 21px;
  }

  /* Desktop — page-intro__list */
  .page-intro__list {
    margin-bottom: 55px;
  }

  /* Desktop — page-title */
  .page-title {
    padding-top: 67px;
    padding-bottom: 80px;
  }

  /* Desktop — page-title__title */
  .page-title__title {
    font-size: 50px;
  }

  /* Desktop — advantages */
  .advantages {
    padding-top: 0;
    padding-bottom: 79px;
    margin-bottom: 0;

    &::before {
      height: 90px;
    }
  }

  /* Desktop — advantages__wrapper */
  .advantages__wrapper {
    position: relative;
  }

  /* Desktop — advantages-list */
  .advantages-list {
    display: flex;
    width: 100%;
    padding-top: 0;
    margin-bottom: 0;

    justify-content: space-between;
  }

  /* Desktop — advantages-list__item */
  .advantages-list__item {
    width: 300px;
    padding-left: 0;
    margin-bottom: 0;
  }

  /* Desktop — advantages-list__image-wrapper */
  .advantages-list__image-wrapper {
    display: block;
    width: 300px;
    height: 302px;
    margin: 0;
    margin-bottom: 50px;

    overflow: hidden;
  }

  /* Desktop — advantages-list__image */
  .advantages-list__image {
    display: block;
    width: auto;
    margin: 0 auto;
  }

  /* Desktop — advantages-list__title */
  .advantages-list__title,
  .advantages-list__description {
    line-height: 30px;
    text-align: center;
  }
  .advantages-list__title {
    margin-bottom: 25px;

    font-size: 30px;
  }

  /* Desktop — advantages-list__description */
  .advantages-list__description {
    padding: 0 30px;

    font-size: 18px;
  }

  /* Desktop — advantages__image-wrapper */
  .advantages__image-wrapper {
    display: none;
  }

  /* Desktop — research */
  .research {
    padding-top: 79px;
    padding-bottom: 112px;
    margin-bottom: 0;

    background-color: #f2f2f2;
  }

  /* Desktop — research-item */
  .research-item {
    padding-left: 366px;

    &::before {
      width: 298px;
      height: 345px;

      top: -94px;

      background-size: 298px 345px;
    }
  }

  /* Desktop — research-item__title */
  .research-item__title,
  .research-item__description,
  .research-item__link {
    line-height: 30px;
  }
  .research-item__title {
    margin-bottom: 26px;
  }

  /* Desktop — research-item__title-break */
  .research-item__title-break {
    display: none;
  }

  /* Desktop — research-item__description */
  .research-item__description {
    margin-bottom: 31px;

    font-size: 18px;
  }

  /* Desktop — research-item__link */
  .research-item__link {
    font-size: 18px;
  }

  /* Desktop — reviews */
  .reviews {
    padding-top: 186px;
    padding-bottom: 41px;
    margin-bottom: 0;
  }

  /* Desktop — reviews__wrapper */
  .reviews__wrapper {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 79px;
      height: 63px;

      top: -113px;
      left: calc(50% - (76px / 2));

      background-image: url("../media/svg/quotes-icon.svg");
      background-repeat: no-repeat;
    }
  }

  /* Desktop — reviews-list */
  .reviews-list {
    position: relative;
    margin-bottom: 0;
  }

  /* Desktop — reviews-list__author-name */
  .reviews-list__author-name {
    margin-bottom: 3px;

    font-size: 24px;
  }

  /* Desktop — reviews-list__author-info */
  .reviews-list__author-info {
    font-size: 18px;
  }

  /* Desktop — reviews-list__author-text */
  .reviews-list__author-text {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  /* Desktop — reviews-list__previous */
  /* Desktop — reviews-list__next */
  .reviews-list__previous,
  .reviews-list__next {
    position: absolute;
    display: block;
    width: 22px;
    height: 41px;
    padding: 0;

    top: 28px;

    background-color: transparent;
    background-image: url("../media/svg/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    opacity: 0.3;

    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.1;
    }
  }
  .reviews-list__previous {
    left: 0;
  }
  .reviews-list__next {
    right: 0;

    transform: rotate(180deg);
  }

  /* Desktop — reviews__toggles */
  .reviews__toggles {
    display: none;
  }

  /* Desktop — price */
  .price {
    padding-top: 146px;
    padding-bottom: 92px;

    &::before {
      height: 81px;
    }
  }

  /* Desktop — price-list__head */
  .price-list__head {
    min-width: 234px;
    padding-top: 16px;
    padding-bottom: 22px;

    font-size: 18px;

    &--hit {
      &::before {
        width: 74px;
        height: 73px;

        background-size: 74px 73px;
      }
    }
  }

  /* Desktop — price-list__price-tag */
  .price-list__price-tag {
    font-size: 24px;
  }

  /* Desktop — price-list__field */
  .price-list__field {
    padding: 15px 20px;

    font-size: 18px;
  }

  /* Desktop — contacts */
  .contacts {
    padding-top: 64px;
  }

  /* Desktop — contacts__title-wrapper */
  .contacts__title-wrapper {
    padding-bottom: 22px;
  }

  /* Desktop — contacts__title */
  .contacts__title {
    margin-bottom: 57px;

    font-size: 50px;
  }

  /* Desktop — contacts__list */
  .contacts__list {
    justify-content: space-between;
  }

  /* Desktop — contacts__item */
  .contacts__item {
    width: 300px;
    margin-right: 0;
    margin-bottom: 0;

    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      width: 300px;
    }
    &--call {
      order: 1;
    }
    &--write {
      order: 3;
    }
    &--come {
      order: 2;
    }
  }

  /* Desktop — contacts__item-title */
  .contacts__item-title {
    margin-bottom: 24px;
  }

  /* Desktop — contacts__map-wrapper */
  .contacts__map-wrapper {
    height: 502px;

    &::before {
      height: 103px;
    }
  }

  /* Desktop — page-footer */
  .page-footer {
    padding-top: 65px;
    padding-bottom: 78px;
  }

  /* Desktop — page-footer__wrapper */
  .page-footer__wrapper {
  }

  /* Desktop — page-footer__social */
  .page-footer__social {
    margin-left: 235px;
  }
}
